{% extends "businessreport/base_rep.html" %} 
{% load static %} 
{% block content %}
<form method="POST" action="#">
  {% csrf_token %}
  <div class="form-group">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Date</span>
      </div>
      <input
        class="form-control"
        type="date"
        value=""
        name="date"
        id="date"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <label for="lugar">Choose a location:</label>
      <select id="lugar" name="lugar">
      <option value="Talamban">Talamban</option>
      <option value="Labangon">Labangon</option>
      <option value="Kalimpyo">Kalimpyo</option>
      <option value="Goldswan">Goldswan</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <label for="dayparts">Choose a time:</label>
      <input type="checkbox" name="dayparts" value="Morning">Morning<br>      
      <input type="checkbox" name="dayparts" value="Afternoon">Afternoon<br>      
      <input type="checkbox" name="dayparts" value="Evening">Evening<br>
    </div> 
    <div class="input-group mb-3">
      <label for="deal">Dealer</label>
      <input type="radio" name="chooseradio" id="deal" value="deal">
      <label for="pick">Pickup</label>
      <input type="radio" name="chooseradio" id="pick" value="pick">
      <label for="rnd">Round</label>
      <input type="radio" name="chooseradio" id="rnd" value="rnd">
      <label for="smallGal">Small</label>
      <input type="radio" name="chooseradio" id="smallGal" value="smallGal">
      <label for="square">Square</label>
      <input type="radio" name="chooseradio" id="square" value="square">
      <label for="dealCust">DealCustomers</label>
      <input type="radio" name="chooseradio" id="dealCust" value="dealCust">
      <label for="suspect">Suspicion</label>
      <input type="radio" name="chooseradio" id="suspect" value="suspect">
    </div> 
    <button id="addBtn">Add</button><button id="subBtn">Sub</button>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id=""># Dealers</span>
      </div>
      <input
        type="number"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
        value="0"
        id="dealer"
        name="dealer"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id=""># Pickup</span>
      </div>
      <input
        type="number"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
        value="0"
        id="pickup"
        name="pickup"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id=""># Round</span>
      </div>
      <input
        type="number"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
        value="0"
        id="rnd"
        name="rnd"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id=""># square</span>
      </div>
      <input
        type="number"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
        value="0"
        id="squareGal"
        name="squareGal"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id=""># Small</span>
      </div>
      <input
        type="number"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
        value="0"
        id="smallGal"
        name="smallGal"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id=""># Dealer Customers</span>
      </div>
      <input
        type="number"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
        value="0"
        id="dealCust"
        name="dealCust"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Suspicion</span>
      </div>
      <textarea class="form-control" id="suspect" rows="14"></textarea>
    </div>
    <div class="form-check">
      <button class="btn btn-outline-info">Load</button>
      <button class="btn btn-outline-info" type="button" id="saveBtn">Save</button>
    </div>
  </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'cctvcnt/cctvrefilling.js' %}"></script>
{% endblock content %}
